*{
    margin: 0px;
    padding: 0px;
}
.card{
    width: 200px;
    height: 400px;
    opacity: 1;
    float: left;
    margin: 10px;
}
.photo{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.photo:hover{
    box-shadow: 0px 3px 6px #00000029;
    mix-blend-mode: normal;
}
.info{
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 0px;
    border-radius: 10px;
    padding: 5px;
}
.info:hover{
    box-shadow: 0px 3px 6px #00000029;
}
.name{
    text-transform: uppercase;
    opacity: 1;
    font: Bold 18px/40px Lato;
    letter-spacing: 0.9px;
}
.position{
    font: Regular 15px/40px Lato;
    letter-spacing: 0px;
    color: #FAA534;
    opacity: 1;
}
.image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}