.card{
    flex: 0 22%;
    opacity: 1;
    margin-bottom: 30px;
    /* width: 100%; */
    /* height: 450px; */
    cursor: pointer;
    /* margin-right: 10px; */
}
.image-block {
    width: 100%;
    /* height: 90%; */
}
.image{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.card:hover .image{
    box-shadow: 0px 3px 2px #00000029;
    mix-blend-mode: normal;
}
.info{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
}
.name{
    text-transform: uppercase;
    opacity: 1;
    font: Bold 18px/40px;
    letter-spacing: 0.9px;
}
.position{
    font: Regular 15px/40px;
    letter-spacing: 0px;
    color: #FAA534;
    opacity: 1;
}
@media only screen and (max-width: 992px) {
    .card {
      flex: 0 49%;
    }
  }
@media only screen and (max-width: 768px) {
  .promotion-card {
    flex: 1 100%;
  }
}